*{
    margin: 0;
    padding: 0;
    /*  padding and border are included in the widge and heigh https://www.w3schools.com/css/css3_box-sizing.asp*/
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.card{
    position: relative;
    width: 380px;
    height: 550px;
    background-color: white;
    /* add tis later to make the animaton */
    transition: 0.5s;  
}

.card .lines{
    position: absolute;
    /* absolute positionling top right bottom left https://developer.mozilla.org/en-US/docs/Web/CSS/inset*/
    inset: 0;
    background-color: black;
    overflow: hidden;
}

.card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 220px;
    background: linear-gradient(transparent,red,green,blue,transparent);
    animation: animate 4s linear infinite;    
}

@keyframes animate {
    0%{
        transform:  translate(-50%,-50%) rotate(0deg);
    }
   100%{
        transform:  translate(-50%,-50%) rotate(360deg);
    }
}



.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}


.content{
    position: absolute;
    z-index: 1;
     /* for inner content */
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}


.content img{
    width: 50%;
    border-radius: 60%;
}

.content .username{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(67, 209, 209);
}


.content .title{
    margin-top:5px ;
    color: white;
}

.services {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .title{
    font-size: 20px;
}

.services ul{
    margin-top: 10px;
    font-size: 20px;
}

.services ul li:nth-child(odd){
    padding: 5px;
    color: rgb(37, 233, 132);
}

.services ul li:nth-child(even){
    padding: 5px;
    color: rgb(89, 174, 235);
}